*~
*.o
*.a
Makefile.in
Makefile
aclocal.m4
config.h
config.h.in
config.log
config.status
glu3.pc
configure
depcomp
install-sh
missing
stamp-h1
autom4te.cache
src/.deps
test/.deps
test/add4v_4v
test/lookat4v
